/** Rounded slider switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**END SLIDER SWITCH*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

/*TOP CONTAINER*/
.top-container {
  text-align: center;
}

.top-container h1 {

}

.switch-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.top-container img {
  position: absolute;
  right: 0px;
}

.annual {
  display: inline-block;
  width: 25%;
  position: absolute;
  left: 20%;
  bottom: -7px;
}

.monthly {
  display: inline-block;
  width: 25%;
  position: absolute;
  right: 20%;
  bottom: -7px;
}

/*MAIN CONTAINER*/
.main-container {
  position: absolute;
  margin-top: 75px;
  text-align: center;
  z-index: 99;
  width: 100%;
}

.panel {
  display: inline-block;
  background: grey;
  width: 25%;
  border-radius: 5px;
}

.panel-one h1, .panel-two h1, .panel-three h1 {
  font-size: 3rem;
}

/*Bottom Container*/
.bottom-container {
  position: absolute;
  top: 400px;
}

.attribution {
  position: absolute;
  bottom: 0px;
  left: 35%;
}